// all media use the same container
.c {  
  @extend .clearfix;
  width:100%;
}
.c_nested .g:first-child {padding-left:0;}  
.c_nested .g:last-child {padding-right:0;}  

// grid unit base
.g {
  position:relative;
  padding: 0 .75em;
  float:left;
}
.g_last-child {
  float:none;
  width:auto;
  overflow:hidden; 
}


// desktop grid
.g_d1 { width:8.33333333%;}
.g_d2 { width:16.6666667%;}
.g_d3 { width:25%;}
.g_d4 { width:33.3333333%;}
.g_d5 { width:41.6666666%;}
.g_d6 { width:50%;}
.g_d7 { width:58.3333333%;}
.g_d8 { width:66.666666666%;}
.g_d9 { width:75%;}
.g_d10 { width:83.3333333%;}
.g_d11 { width:91.6666666%;}
.g_d12 { width:100%}


@media screen and (max-width: 900px) {
  .g_tl1 { width:8.33333333%;}
  .g_tl2 { width:16.6666667%;}
  .g_tl3 { width:25%;}
  .g_tl4 { width:33.3333333%;}
  .g_tl5 { width:41.6666666%;}
  .g_tl6 { width:50%;}
  .g_tl7 { width:58.3333333%;}
  .g_tl8 { width:66.3333333%;}
  .g_tl9 { width:75%;}
  .g_tl10 { width:83.3333333%;}
  .g_tl11 { width:91.6666666%;}
  .g_tl12 { width:100%}
}

@media screen and (max-width: 700px) {
  .g_pl1 { width:8.33333333%;}
  .g_pl2 { width:16.6666667%;}
  .g_pl3 { width:25%;}
  .g_pl4 { width:33.3333333%;}
  .g_pl5 { width:41.6666666%;}
  .g_pl6 { width:50%;}
  .g_pl7 { width:58.3333333%;}
  .g_pl8 { width:66.3333333%;}
  .g_pl9 { width:75%;}
  .g_pl10 { width:83.3333333%;}
  .g_pl11 { width:91.6666666%;}
  .g_pl12 { width:100%}
}

@media screen and (max-width: 600px) {
  .pp_hide {display: none !important;}
  .pp_block {display: block !important;}
  .pp_inline {display: inline !important;}
  .pp_inline-block {display: inline-block !important;}
}

// desktop offset helpers
.g_offset_d1 {margin-left:8.33333333%;}
.g_offset_d2 {margin-left:16.6666667%;}
.g_offset_d3 {margin-left:25%;}
.g_offset_d4 {margin-left:33.3333333%;}
.g_offset_d5 {margin-left:41.6666666%;}
.g_offset_d6 {margin-left:50%;}
.g_offset_d7 {margin-left:58.3333333%;}
.g_offset_d8 {margin-left:66.3333333%;}
.g_offset_d9 {margin-left:75%;}
.g_offset_d10 {margin-left:83.3333333%;}
.g_offset_d11 {margin-left:91.6666666%;}
.g_offset_d12 {margin-left:100%}


// percentage helpers
.g_1of2{width:percentage(1/2);}
.g_1of3{width:percentage(1/3);}
.g_2of3{width:percentage(2/3);}
.g_1of4{width:percentage(1/4);}
.g_3of4{width:percentage(3/4);}
.g_1of8{width:percentage(1/8);}
.g_1of12{width:percentage(1/12);}
.g_full{width:100%;}

.g_columns {
  -moz-column-count: 2;
 -moz-column-gap: $grid-gutter;
 -webkit-column-count: 2;
 -webkit-column-gap: $grid-gutter;
 -webkit-column-rule: 2px solid #ddd;
}

@media screen and (max-width: 766px) {
  .g_columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

// helper to show grid
.show-grid .g {  
  background:pink;
  height:50px;
  line-height:50px;
  border:.85714em solid #f8f8f8;
  &:nth-child(even) {
    @include opacity(1);
  }
  &:nth-child(odd) {
    opacity: 5;
  }
}


.g_separate {
  border-right: 1px dashed #ddd;
}

@media screen and (max-width: 700px) {
  .g_separate {
    border: none;
  }
}