// zoom
@-webkit-keyframes zoom-animation {
  from {-webkit-transform: scale3d(1.6, 1.6, 1.6); opacity:0;}
  to {-webkit-transform: scale3d(1,1,1); opacity:1;}
}

@-webkit-keyframes zoom-animation-reverse {
  0% {-webkit-transform: scale3d(.2,.2,.2); opacity: 0;}
  70% {-webkit-transform: scale3d(1.05,1.05,1.05); opacity:.8;}
  100% {-webkit-transform: scale3d(1,1,1); opacity:1;}
}

@-webkit-keyframes bounce-up {
  0% {-webkit-transform: translate3d(0,160px,0) rotate(-10deg);}
  40% {-webkit-transform: translate3d(0,-8px,0) rotate(-10deg);}
  60% {-webkit-transform: translate3d(0,4px,0) rotate(-10deg);}
  80% {-webkit-transform: translate3d(0,-3px,0) rotate(-10deg);}
  90% {-webkit-transform: translate3d(0,3px,0) rotate(-10deg);}
  100% {-webkit-transform: translate3d(0,0px,0) rotate(-10deg);}
}

@-webkit-keyframes radiate {
  0% {box-shadow: 0 0 0 0px rgba(255,142,80,0);-webkit-transform: rotate(-10deg);}
  50% {box-shadow: 0 0 0 15px rgba(255,142,80,.5);-webkit-transform: rotate(10deg)}
  100% {box-shadow: 0 0 0 0px rgba(255,142,80,0);-webkit-transform: rotate(-10deg)}
}

