.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 30px;
  height: 30px;
  margin-top: -4px;
  background-image: url("/2015/images/no-repeat.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .icon {
    background-image: url("/2015/images/no-repeat@2x.png");
    background-size: 60px 1200px;
  }
}

.icon_large {
  width: 60px;
  height: 60px;
  margin-top: -10px;
}

.icon_fl {
  display: block;
  float: left;
}

.icon_fr {
  display: block;
  float: left;
}

.icon_inline {
  margin-top: -2px;
}

.icon_github {

}

.icon_twitter {
  background-position: 0 -30px;
}

.icon_linkedin_large {
  background-position: 0 -60px;
}

.icon_facebook_large {
  background-position: 0 -120px;
}

.icon_twitter_large {
  background-position: 0 -180px;
}

.icon_ribbon_large {
  background-position: 0 -240px;
}

.icon_info {
  height: 20px;
  width: 20px;
  color: #fff;
  background: #999;
  background: rgba(0,0,0,.2);
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  @extend .circle;
  &:hover {
    overflow: visible;
  }
  &:before {
    content: "";
    display: block;
    top: 100%;
    border: 4px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-bottom-color: rgba(0,0,0,.9);;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
  }
  &:after {
    z-index: 100000;
    position: absolute;
    content: attr(name);
    text-transform: none;
    text-align: left;
    letter-spacing: 0;
    display: block;
    height: auto;
    padding: 8px 12px;
    left: 50%;
    top: 100%;
    width: 220px;
    margin: 4px 3px 0 -110px;
    background: #000;
    background: rgba(0,0,0,.9);
    color: #fff;
    text-shadow: none;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5em;
    border-radius: 4px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}