<!DOCTYPE HTML>
<html>
<head>
    <!--[if lt IE 9]>
    <script src="dist/html5shiv.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <title>
      MountainWest RubyConf 2013{% if page.title %}: {{ page.title }}{% endif %}
   </title> 
  <script type="text/javascript" src="//use.typekit.net/kzb3rbd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    
    
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/2013/stylesheets/screen.css" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

  </head>
  <body class="page">

    <span class="page__icon_large"><a href="/" class="page__icon__link"></a></span>
    <span class="page__icon_small"><a href="/" class="page__icon__link"></a></span>
    <header class="page__header">
      <nav class="nav-bar">
        <div class="page__wrapper">
          <ul class="nav float-left">
            <li class="nav__item">
              <a href="/2013/schedule" class="nav__link">Schedule</a>
            </li>
            <li class="nav__item">
              <a href="/2013/devops-sessions" class="nav__link">DevOps Speakers</a>
            </li>
          </ul>
          <ul class="nav float-right">
            <li class="nav__item">
              <a href="/2013/ruby-sessions" class="nav__link">Ruby Speakers</a>
            </li>
            <li class="nav__item">
              <a href="/2013/sponsors" class="nav__link">Sponsors</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="page__hero">
      <div class="page__wrapper">
        <div class="g g_full">
          <section class="page__logotype">
          </section>

          <nav class="nav nav__page-info">
            <ul>
              <li class="nav__item">
               <i>&diams;</i>  <span>April 3-5, 2013</span> <i>&diams;</i>
              </li>
              <li class="nav__item float-right">
                <i>&diams;</i>  <span>Salt Lake City, Utah</span> <i>&diams;  </i>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <div class="page__wrapper">
      <div class="page__body">

        {{content}}

        <footer class="page__body__footer">
          <a href="https://twitter.com/mwrc" class="circle circle_social">
            <i class="icon icon_large icon_twitter_large">
            </i>
          </a>
          <a href="http://www.facebook.com/groups/34943415835/" class="circle circle_social">
            <i class="icon icon_large icon_facebook_large">
            </i>
          </a>
          <a href="http://www.linkedin.com/groups/MountainWest-RubyConf-2907752?gid=2907752" class="circle circle_social">
            <i class="icon icon_large icon_linkedin_large">
            </i>
          </a>
        </footer>
      </div>
    </div>

    <footer class="page__footer">
      &copy; MountainWest Ruby, LLC <br class="display-none pp_block"> <span class="pp_hide">&middot;</span> <a href="http://twitter.com/jayden_a">Design By Jayden Anderson</a>
    </footer>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-2009884-2");
      pageTracker._trackPageview();
    </script>
  </body>
</html>